<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>题目</title>
    <style>
        .welcome{
            /*text-align: center;*/
            color: #cdb1ef;
        }
    </style>

</head>
<body>

<div id="questionDiv">
    <h2 class = "welcome" >当前章节的题目设置</h2>

    <el-dialog
            title="新增题目"
            :visible.sync="dialogVisible"
            width="30%"
    >
        <el-form ref="form" :model="Question" label-width="80px">
            <el-form-item label="类型">
                <el-input v-model="Question.type"></el-input>
            </el-form-item>
            <el-form-item label="题目">
                <el-input v-model="Question.content"></el-input>
            </el-form-item>
            <el-form-item label="答案">
                <el-input v-model="Question.answer"></el-input>
            </el-form-item>
            <el-form-item label="分值">
                <el-input v-model="Question.score"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="addQuestion">确认</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>


<!--    题目信息-->
<template>
    <el-table
            :data="tableData"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            @selection-change="handleSelectionChange">
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                type="index"
                width="50">
        </el-table-column>
        <el-table-column
                prop="type"
                label="题型"
                align="center"
        >
        </el-table-column>
        <el-table-column
                prop="content"
                label="题目"
                align="center"
        >
        </el-table-column>
        <el-table-column
                prop="answer"
                label="答案"
                align="center"
        >
        </el-table-column>
        <el-table-column
                prop="score"
                label="分值"
                align="center"
        >
        </el-table-column>
        <el-table-column
                prop="create_time"
                label="发布时间"
                align="center"
        >
        </el-table-column>
<!--        </el-table-column>-->
<!--        <el-table-column-->
<!--                prop="id"-->
<!--                align="center"-->
<!--                label="操作">-->
<!--            <template slot-scope="scope">-->
<!--                <el-row>-->
<!--                    <el-button type="primary" @click="dialogVisible = true">添加章节</el-button>-->
<!--                </el-row>-->
<!--            </template>-->
<!--        </el-table-column>-->
    </el-table>
</template>
    <el-row>
        <el-button type="primary" @click="dialogVisible = true" plain>添加题目</el-button>
        <el-button type="primary" @click="goback" round>返回</el-button>
    </el-row>

<!--    <el-row>-->
<!--        -->
<!--    </el-row>-->
</div>
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el:"#questionDiv",

        mounted(){

            this.showQuestion();

        },

        data(){
            return{

                dialogVisible:false,

                Question:{
                    id:'',
                    type:'',
                    content:'',
                    answer:'',
                    score:'',
                    course_section_id:'',
                    course_id:'',
                    create_time:'',
                },

                tableData:[],


            }
        },

        methods:{
            //展示题目
            showQuestion(){
                var _this = this;

                axios({
                    method:"get",
                    url:"http://localhost:8080/QGfinal_test_war/Question/showQuestion"
                }).then(resp =>{
                    this.tableData = resp.data;
                })

            },

            //添加题目
            addQuestion(){
                var _this = this;

                console.log(this.Question);
                axios({
                    method:"post",
                    url:"http://localhost:8080/QGfinal_test_war/Question/addQuestion",
                    data: _this.Question,
                }).then(function (resp) {
                    if(resp.data == "addquestion_success"){
                        //关闭对话框
                        _this.dialogVisible = false,
                            //刷新题目信息
                            _this.showQuestion();
                        //提示添加成功
                        _this.$message({
                            message: '恭喜你，添加成功啦',
                            type: 'success'
                        });

                    }
                });
            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex%2 === 0) {
                    return 'warning-row';
                } //else  {
                //return 'success-row';
                //}
                return 'success-row';
            },
            //复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

            },

            goback(){
                location.href ="/QGfinal_test_war/CourseOperator.html";
            }

        },

    })

</script>

</body>
</html>