<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生登录</title>
    <link href="css/StudentLogin.css" rel="stylesheet">
</head>
<body>
<div id="studentloginDiv" style="height: 350px">

    <form id = "form">
        <h1 id="loginmsg">学生登录</h1>
        <div id="errorMsg" v-model="errorMsg">{{errorMsg}}</div>
        <p class="login">学号<input id="studentid" type="text" name="studentid" v-model="Student.studentid" pattern="^\d{10}$" required title="学号应为10位数字"></p>
        <p class="login">密码<input  id="password" type="password" name="password" v-model="Student.password" pattern=".{6,}" required title="密码至少为6位字符"></p>
        <p class="login">记住我<input id="remember" type="checkbox" name="remember" value="1" v-model="Student.remember"></input> </p>
        <el-row>
            <el-button type="primary" @click="studentLogin">登录</el-button>
        </el-row>
        <span id="zhuce"> <a href="/QGfinal_test_war/StudentSignup.html" target="_blank">点击即可注册个人账号哦~</a></span>
        <form>

</div>



<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>

    new Vue({
        el:"#studentloginDiv",

        data(){

            errorMsg:'';

            return{
                Student:{
                    id:'',
                    studentname:'',
                    studentid:'',
                    password:'',
                    grade:'',
                    qq:'',
                    description:'',
                    create_time:'',
                    update_time:'',
                    remember:'',
                }
            }
        },

        methods:{

            //校验
            validateForm(){
                let studentid = document.getElementById('studentid');
                let password = document.getElementById('password');

                if(!studentid.checkValidity()){
                    alert(studentid.title);
                    return false;
                }

                if(!password.checkValidity()){
                    alert(password.title);
                    return false;
                }
                return true;
            },

            //登录操作
            studentLogin(){
                var _this = this;

                if(!this.validateForm()){
                    return ;
                }
                axios({
                    method:"post",
                    url:"http://localhost:8080/QGfinal_test_war/Student/studentLogin",
                    data:_this.Student,
                }).then(function (resp) {
                    if(resp.data == "success"){
                        _this.$message({
                            message: '恭喜你，登录成功啦',
                            type: 'success'
                        });
                        setTimeout(function(){
                            turnto()
                        },200);

                    }else if(resp.data == "failed"){
                        _this.$message({
                            message: '恭喜你，登录失败啦',
                            type: 'warning'
                        });
                        _this.errorMsg = "学号或密码错误";
                        _this.Student.password = '';
                    }else if(resp == "null"){
                        _this.$message({
                            message: '恭喜你，登录失败啦',
                            type: 'warning'
                        });
                        _this.errorMsg = "不能为空";
                    }
                })

            },
        },
    })

</script>

<script>
    function turnto() {
        location.href = "/QGfinal_test_war/StudentCenter.html";
    }
</script>
</body>
</html>